@define-color accent_color #24BD5C;
@define-color accent_fg_color #091f11;
@define-color accent_bg_color #24BD5C;
@define-color window_bg_color #23262D;
@define-color window_fg_color #02200B;
@define-color headerbar_bg_color #1E1E24;
@define-color headerbar_fg_color #F5F5F6;
@define-color popover_bg_color #1E1E24;
@define-color popover_fg_color #F5F5F6;
@define-color view_bg_color #050505;
@define-color view_fg_color #F5F5F6;
@define-color card_bg_color #050505;
@define-color card_fg_color #F5F5F6;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
window.thunar * {
	font-size: 18pt;
}
